{% extends 'base.html' %}
{% block content %}
<div class="row ">
  {% for song in Musics %}
  <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="p-2 ">
          <img style="height: 200px" alt="" src="{{ song.image.url }}"
                  class="img-thumbnail rounded-circle "></a>
      </div>
      <div class="card-body text-center">
          <h6 style="color: black; font-weight: bolder;" class="card-title" style="font-weight: bolder;">
            {{ song.song_title }}</h6>
          <br>

      </div>
      <div class="col-12">
        <audio preload="none" controls style="width: 100%">
            <source src="{{ song.song.url }}" type="audio/ogg">
        </audio>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}